<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimples.sys.mapper.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.dimples.sys.po.Template">
    <!--@mbg.generated-->
    <!--@Table tb_template-->
    <id column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="template_desc" jdbcType="VARCHAR" property="templateDesc" />
    <result column="template_type" jdbcType="VARCHAR" property="templateType" />
    <result column="template_content" jdbcType="LONGVARCHAR" property="templateContent" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    template_id, template_desc, template_type, template_content, create_user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_template
    where template_id = #{templateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_template
    where template_id = #{templateId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="template_id" keyProperty="templateId" parameterType="com.dimples.sys.po.Template" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateDesc != null">
        template_desc,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="templateContent != null">
        template_content,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateDesc != null">
        #{templateDesc,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=VARCHAR},
      </if>
      <if test="templateContent != null">
        #{templateContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimples.sys.po.Template">
    <!--@mbg.generated-->
    update tb_template
    <set>
      <if test="templateDesc != null">
        template_desc = #{templateDesc,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=VARCHAR},
      </if>
      <if test="templateContent != null">
        template_content = #{templateContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where template_id = #{templateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimples.sys.po.Template">
    <!--@mbg.generated-->
    update tb_template
    set template_desc = #{templateDesc,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=VARCHAR},
      template_content = #{templateContent,jdbcType=LONGVARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where template_id = #{templateId,jdbcType=BIGINT}
  </update>
</mapper>