<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimples.sys.mapper.UGroupMapper">
  <resultMap id="BaseResultMap" type="com.dimples.sys.po.UGroup">
    <!--@mbg.generated-->
    <!--@Table tb_u_group-->
    <id column="u_group_id" jdbcType="BIGINT" property="uGroupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    u_group_id, group_name, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_u_group
    where u_group_id = #{uGroupId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_u_group
    where u_group_id = #{uGroupId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="u_group_id" keyProperty="uGroupId" parameterType="com.dimples.sys.po.UGroup" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_u_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        group_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimples.sys.po.UGroup">
    <!--@mbg.generated-->
    update tb_u_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where u_group_id = #{uGroupId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimples.sys.po.UGroup">
    <!--@mbg.generated-->
    update tb_u_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where u_group_id = #{uGroupId,jdbcType=BIGINT}
  </update>
</mapper>