<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimples.auth.mapper.MenuMapper">
	<resultMap id="BaseResultMap" type="com.dimples.auth.po.Menu">
		<!--@mbg.generated-->
		<!--@Table db_base_permission.tb_menu-->
		<id column="menu_id" jdbcType="BIGINT" property="menuId" />
		<result column="parent_id" jdbcType="BIGINT" property="parentId" />
		<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="component" jdbcType="VARCHAR" property="component" />
		<result column="perms" jdbcType="VARCHAR" property="perms" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="order_num" jdbcType="DOUBLE" property="orderNum" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		menu_id, parent_id, menu_name, `path`, component, perms, icon, `type`, order_num,
		create_time, modify_time
	</sql>
	<select id="findPermissionByRoleId" resultType="com.dimples.common.dto.MenuDTO">
		select distinct perms
		from tb_menu tm
			     join tb_menu_role tmr on tm.menu_id = tmr.menu_id
		where tmr.role_id = #{roleId,jdbcType=INTEGER}
		and tm.perms is not null
	</select>

</mapper>
